
body {
  background-color: #F0FFF0;
}

.leftp {
  width: 25%;
  float: left;
  height: 100%;
}


.rightp {
  width: 25%;
  float: right;
  height: 100%;
}

.centerp {
  width: 550px;
  float: left;
  height: 100%;
}


#titleleft {

  text-align: left;
  text-decoration: underline;
  font-size: 200%;
  font-family: "Helvetica Neue";
  font-weight: lighter;
}


.menubar1 {
  height: 200px;
}

.submenu1 {
  width: 35%;
  float: left;
  height: 100%;
}

#bacon {
  float: right;
}

.submenu2 {
  width: 30%;
  height: 100%;
  float: left;
  text-align: center;
  text-decoration: underline;
  font-size: 500%;
  font-family: "Helvetica Neue";
  font-weight: lighter;
}

.submenu3 {
  width: 35%;
  height: 100%;
  float: right;
}

.menubar1 a:link {
  color: black;
}

.menubar1 a:visited {
  color: black;
}

.menubar1 a:hover {
  /*color: #F70F5C;*/
  color: #F0ADED;
}
